<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div>
        <!-- <h1 style="display: inline">Webshop</h1> -->
        <ul class="navbar">
          <li class="navbar_item">Webshop</li>
          <a href="/"><li class="navbar_item">Home</li></a>
          <a href=""><li class="navbar_item active">Account</li></a>
          <% if(token == null) { %>
          <a href="/login"><li style="float: right" class="navbar_item">Log In</li></a>
          <% } else { %>
          <a href="/logout"><li style="float: right" class="navbar_item">Log Out</li></a>
          <% } %>
        </ul>
      </div>
    </header>
  </body>
</html>
