<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <header>
      <div>
        <ul class="navbar">
          <div class="navbar_inline">
            <li class="navbar_item">Webshop</li>
            <a href="/"><li class="navbar_item">Home</li></a>
            <a href="/account"><li class="navbar_item">Account</li></a>
          </div>
        </ul>
      </div>
    </header>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 10%">
      <form onsubmit="sendRegistration(event)">
        <div>
          <input placeholder="E-Mail" type="email" name="email" id="email_input" required />
        </div>
        <div>
          <input placeholder="Firstname" type="text" name="firstName" id="firstName" required />
        </div>
        <div>
          <input placeholder="Lastname" type="text" name="lastName" id="lastName" required />
        </div>
        <div>
          <input placeholder="Password" type="password" name="password" id="password_input" required />
        </div>
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>

  <script>
    var backend_url = "<%= backend_url %>";
  </script>
  <script type="text/javascript" src="./register.js"></script>
</html>
